body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.qp{
    width: 100%;
    height: 100%;
}
#audio_btn{
    position: absolute;
    right: 10px;
    top: 1px;
    z-index: 200000;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px 60px;
    background-position: 0px 0px;
}
#audio_btn.off{
    background-position: 0px -30px;
}
header{
    height: 2rem;
    width: 100%;
    background: #ff0000;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
.main{
    bottom: 2rem;
    top: 0px;
    left: 0px;
}
.cont{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-transform: translateX(100%);
}
.main>.cont:first-child{
    -webkit-transform: translateX(0);
}
.cont>div{
    width: 100%;
    height: 200%;
    position: absolute;
}
.lunbo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    position: relative;
    overflow: hidden;
}
.lunbo ul li img{
    width: 100%;
    height: 50%;
}
.swiper-pagination{
    position: absolute;
    left: 0px;
    top: 480px;
}
footer{
    width: 100%;
    height: 2rem;
    background: orange;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: -webkit-box;
}
footer>a{
    display: block;
    -webkit-box-flex:1;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
}
footer .on{
    background: red;
    color: #ffffff;
}